# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Environment files
.env
*.env

# Python virtual environments
.venv/
venv/
env/
*.egg-info/
*.egg

# Cache files
*.log
*.sqlite
*.db
.cache/
schema_cache.json
vectorstores/

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# OS-specific
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints

# Packages
*.whl
pip-wheel-metadata/

# PyInstaller
*.spec

# Mac system files
Icon?
